# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoint

# Generated figures
*.png
*.pdf


# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

*.npy
events*